<div class="card text-center">
    <div class="card-header">
        <a>Dashboard - RAG Acredita</a>
        <hr>
        <app-informes-totales-list></app-informes-totales-list>
    </div>
    <div class="card-body">
        
        <div class="d-flex">
            <a class="btn btn-info mt-3" (click)="vista.set('documentos')">Documentos</a>
            <a class="btn btn-info mt-3" (click)="vista.set('chats')">Chats</a>
        </div>

        @if (vista() === 'documentos') {
            <app-informes-documentos></app-informes-documentos>
        }

        @if (vista() === 'chats') {
            <app-informes-chats></app-informes-chats>
        }
            
        <hr>
        <div class="d-flex">
            <div class="col-md-6">
                <app-informes-ranking-list></app-informes-ranking-list>
            </div>
            <div class="border-end mx-3" style="height: auto;"></div>
            <div class="col-md-6">
                <app-informes-reciente-list></app-informes-reciente-list>
            </div>
        </div>
    </div>
    <div class="card-footer text-body-secondary d-flex justify-content-center">
        
    </div>
</div>