<div class="card-footer text-body-secondary d-flex justify-content-center">
  <ol class="list-unstyled d-flex gap-3 align-items-center mb-0">
    <li class="d-flex align-items-center gap-1">
      <a href="#" class="text-decoration-none">1</a> -
      <a href="#" class="text-decoration-none">2</a> -
      <a href="#" class="text-decoration-none">3</a> ...
      <a href="#" class="text-decoration-none">5</a>
    </li>

    <li class="d-flex align-items-center">Mostrando 5 de 18</li>

    <li class="d-flex align-items-center">
      <select id="select2.2" class="form-select form-select-sm">
        <option>5</option>
      </select>
    </li>
  </ol>
</div>
