<div class="card-header">
  <p>Documento: Documento_1.pdf</p>
  <ul class="breadcrumb">
    <li class="breadcrumb-item">23 chunks</li>
    <li class="breadcrumb-item">18 revisados</li>
    <li class="breadcrumb-item">3 pendientes</li>
    <li class="breadcrumb-item">2 descartados</li>
  </ul>
  <hr />
  Filtro estado:
  <div>
    <div class="col-md-3">
      <input type="text" id="input2.1" class="form-control" placeholder="Buscar en chunks..." />
    </div>
    <div class="col-md-2">
      <select id="select2.1" class="form-select">
        <option>Todos</option>
      </select>
    </div>
  </div>
</div>
